<!-- FOOTER -->
<section id="home-footer">
  <div class="container-fluid footer">
    <div class="row contact-footer">
      <div class="hidden col-lg-6 contact">
        <h5>Call: 905-703-9274</h5>
      </div>
      <div class="col-lg-6 contact">
        <h5>Email: Service@brookban.com</h5>
      </div>
    </div>
    <!-- <div class="row marg-bot">
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-instagram fa-1x"></i></a>
      </div>
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-facebook-f fa-1x"></i></a>
      </div>
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-twitter fa-1x"></i></a>
      </div>
    </div> -->
    <h6 class="center copyright">Brookban Construction © <%=year%></h6>
  </div>
</section>
</body>
</html>
