<!-- DROPDOWN SERVICE MENU -->
<li class="nav-item dropdown">
  <a class="dropbtn dropdown-toggle">Services</a>
    <div class="dropdown-content dropdown-menu-right">
      <%  services.forEach( function(service) { %>
        <a class="dropdown-item" data-toggle="tab" href="/services/<%=service.id%>"><%= service.title %></a>
      <% }) %>
  </div>
</li>
