<!-- FOOTER -->
<section id="home-footer">
  <div class="container-fluid footer">
    <div class="row contact-footer">
      <div class="col-lg-4 contact">
        <h5>Email: x@y.com</h5>
      </div>
      <div class="hidden col-lg-4 contact">
        <h5>Text: ###-###-####</h5>
      </div>
      <div class="hidden col-lg-4 contact">
        <h5>Call: ###-###-####</h5>
      </div>
    </div>
    <!-- <div class="row marg-bot">
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-instagram fa-1x"></i></a>
      </div>
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-facebook-f fa-1x"></i></a>
      </div>
      <div class="col-lg-4">
        <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-twitter fa-1x"></i></a>
      </div>
    </div> -->
    <i class="center">Brookeban Construction © <%=year%></i>
  </div>
</section>


</body>


</html>
