<div class="container-fluid footer center">
  <div class="row">
    <div class="col-lg-4">
      <h5>Email: x@y.com</h5>
    </div>
    <div class="marg-bot col-lg-4">
      <h5>Text: ###-###-####</h5>
    </div>
    <div class="col-lg-4">
      <h5>Call: ###-###-####</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-instagram fa-1x"></i></a>
    </div>
    <div class="col-lg-4">
      <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-facebook-f fa-1x"></i></a>
    </div>
    <div class="col-lg-4">
      <a class="social-footer" href="NEED THEIR EMAIL STILL"><i class="footer-icon fab fa-twitter fa-1x"></i></a>
    </div>
  </div>
</div>


</body>


</html>
