<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<div class="second-header container-fluid">
  <div class="row">
    <div class="col-lg-6 ">
      <h3>Brookban Construction</h3>
      <h5>Landscaping. Renovations. Drywalling.</h5>
    </div>
    <div class="col-lg-6">
      <h4>Call today for a quote!</h4>
    </div>
  </div>
</div>
<hr>

<%- include("services-display"); -%>

<section id="home-image">
  <div>
    <img class="background-image" src="/images/PWLmnkk.jpg" alt="">
  </div>
</section>


<%- include ("partials/footer"); -%>
