<%- include("header") -%>

<section id="home-image">
<div>
  <img class="background-image" src="/images/PWLmnkk.jpg" alt="">
</div>
</section>

<%- include("services") -%>

<%- include ("footer.ejs") %>
