<%- include("header") -%>


<div class="second-header">
  Call today for a quote on any of our services, free of charge!
</div>



 <%- include("services") -%>

 


    <section id="home-image">
      <div>
        <img class="background-image" src="/images/PWLmnkk.jpg" alt="">
      </div>
      </section>
    

<%- include ("footer.ejs") -%>
