<%- include("header") -%>


<div class="second-header container-fluid">
  <div class="row">
    <div class="col-lg-6 ">
      Brookebran Construction
    </div>
    <div class="col-lg-6">
      Landscaping / Renovation
    </div>
  </div>
  
</div>
<hr>


 <%- include("services") -%>

 


    <section id="home-image">
      <div>
        <img class="background-image" src="/images/PWLmnkk.jpg" alt="">
      </div>
      </section>
      
    

<%- include ("footer") -%>
