<div class="darken-with-text">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('../images/<%= pageInfo.headerImg %>')">
    <div class="section-title">
      <h1 class="display-4"><%= pageInfo.title %></h1>
      <p class="lead"><%= pageInfo.description %></p>
    </div>
  </div>
</div>


