<section id="navbar">
    <div class="navbar navbar-dark navbar fixed-top">
      <div class="container-fluid">
        <div class="navbar-collapse initial-header row">
        <!-- this can be replaced with the logo img -->
          <div class="col-lg-6 col-md-4 center">
            <a href="/">Brookban Construction</h5>
          </div>
          <!-- nav bar links -->
            <div class="col-lg-6 col-md-4 center">
              <nav>
                <a href="/">home</a> |
                <a href="/photogallery">photo gallery</a> |
                <%- include ("dropMenu"); -%>
              </nav>
          </div>
        </div>
      </div>
    </div>
</section>