<section id="navbar">
  <div class="navbar navbar-dark navbar fixed-top">
    <div class="container-fluid">
      <div class="navbar-collapse initial-header row">
      <!-- Navbar icon and name -->
      <div class="col-lg-6 col-md-4 text-left">
        <img class="navbar-icon" src="../images/icon-placeholder.svg" alt="navbar-icon">
        <a href="/">Brookban Construction</a>
      </div>
      <!-- Navbar links -->
      <div class="col-lg-6 col-md-8 text-right">
        <div class="navbar-links-container">
          <nav>
            <a class="" href="/">Home</a> |
            <a href="/photogallery">Photo Gallery</a> |
            <%- include ("dropMenu"); %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
