  <!-- SERVICES -->
<section id="services">
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-6 contact">
      <h5>service 1</h5>
    </div>
    <div class="col-lg-4 col-md-6 contact">
      <h5>service 2</h5>
    </div>
    <div class="col-lg-4 contact">
      <h5>service 3</h5>
    </div>
  </div>

  <div class="row service-row">
    <div class="col-lg-4 col-md-6 contact">
      <h5>service 4</h5>
    </div>
    <div class="col-lg-4 contact">
      <h5>service 5</h5>
    </div>
    <div class="col-lg-4 contact">
      <h5>service 6</h5>
    </div>
  </div>

</div>
</section>
