<% subservices.forEach(a => { %>
  <section id="subservice">
    <div class="subsection-container">
      <div class="card">
        <img class="card-img-top" src="../images/placeholder_02.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" style="text-decoration: underline;" ><%= a.subTitle %></h4>
            <p class="card-text"><%=a.subDescription%></p>
        </div>
      </div>
    </div>
  </section>
<% }) %>