

<% subservices.forEach(a => { %>
  <section id="serviceCard">
<div class="card">
  <img class="card-img-top" src="../images/placeholder_02.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= a.subTitle %></h5>
    <p class="card-text"><%=a.subDescription%></p>
  </div>
</div>
</section>
<% }) %>
